<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <div class="text-center">
      <% if params[:technology_name] %>
        <h1 class="heading">Questions for <span class="text-info"><%= params[:technology_name] %></p></h1>
      <% else %>
        <h1 class="heading">All questions</h1>
      <% end %>
    </div>

    <div class="list-group questions">
      <% @questions.each do |question| %>
        <!-- TODO: Change list item color if question is solved -->
        <%= link_to question, class: 'list-group-item flex-column align-items-start' do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= question.title %></h5>
          </div>
          <div class="d-inline-flex w-100 justify-content-between">
            <small class="text-muted">Asked by "<%= question.team %>"</small>
            <small>Asked on <span class="text-muted"><%= question.created_at.strftime('%d-%m-%Y %H:%M') %></span></small>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @team %>  
      <a href="/questions/new" class="btn btn-info btn-bottom" data-toggle="tooltip" data-placement="top" title="Add question">
        <%= fa_icon 'plus' %>
      </a>
    <% end %>
  </div>
</div>
