<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <div class="text-center">
      <% if params[:technology_name] %>
        <h1 class="heading">Questions for <span class="text-info"><%= params[:technology_name] %></p></h1>
      <% else %>
        <h1 class="heading">All questions</h1>
      <% end %>
    </div>

    <div class="list-group questions">
      <% @questions.each do |question| %>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= link_to question.title, question %></h5>
            <% if question.solved? %>
              <p class="text-success">Solved</p>
            <% else %>
              <p class="text-warning">Unsolved</p>
            <% end %>
          </div>
          <div class="d-inline-flex w-100 justify-content-between">
            <small class="text-muted">Asked by <%= link_to question.team, users_team_path(question.team) %></small>
            <small>Asked on <span class="text-muted"><%= question.created_at.strftime('%d-%m-%Y %H:%M') %></span></small>
          </div>
        </div>
      <% end %>
    </div>

    <% if @team %>
      <a href="/questions/new" class="btn btn-info btn-bottom" data-toggle="tooltip" data-placement="top" title="Add question">
        <%= fa_icon 'plus' %>
      </a>
    <% end %>
  </div>
</div>
