<h1>Create a new question</h1>

<%= form_for @question do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :technology %><br />
  <%= f.select :technology_id, options_for_select(current_user.technologies.map{ |t| [t.name, t.id] }) %>

  <%= f.submit %>
<% end %>
