<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">

    <h1 class="text-center heading"><%= @question.title %></h1>

    <div class="card">
      <div class="card-body">
        <%= markdown(@question.content) %>
        <hr />

        <%= render 'question_info', question: @question %>
        <% if current_user == @question.team.user %>
          <div class="text-center">
            <%= link_to "Edit", edit_question_path, class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>
  </div>
  <div class="col-md-8 offset-md-2">
    <% if @answers.empty? %>
      <h3 class="text-center heading">Nobody has answered this question yet.</h3>
    <% else %>
      <%= render @answers %>
    <% end %>
  </div>

  
  <% if current_user.mentor? %>  
    <div class="col-md-10 offset-md-1">
      <%= render 'answers/form', form_title: 'Add Answer' %>
    </div>
  <% end %>
</div>
