<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
  
    <h1 class="text-center heading"><%= @question.title %></h1>

    <div class="card">
      <div class="card-body">
        <%= markdown(@question.content) %>
        <hr />
        <div class="d-inline-flex w-100 justify-content-between">
          <small class="text-muted">Asked by "<%= @question.team %>"</small>
          <small>Asked on <span class="text-muted"><%= @question.created_at.strftime('%d-%m-%Y %H:%M') %></span></small>          
        </div>
      </div>
    </div>
    


    <h2 class="text-center">Answers: </h2>

    <% @question.answers.each do |answer| %>
      <%= render answer %>
    <% end %>
  </div>
</div>
